# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
downloads/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Database / Storage
*.sqlite3
*.db
storage/uploads/*
!storage/uploads/.gitkeep
storage/exports/*
!storage/exports/.gitkeep
storage/chroma/
